@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,900,400italic,700);
#splash{
	background: url("../images/hands.tool.jpg") no-repeat top center scroll;
	background-size: cover;
	padding: 200px 0;
	color: white;
	text-align: center;
}
Nav {
	background-color: E8C66A;
	border: 1 px black solid;
	padding: 20px;
}
header {
	background-color: FFED74;
	border: 1px black solid;
	padding: 20px;
}
#article{
	background-color: E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: FF957E;
	border: 1px black solid;
	padding: 20px;
}

h1, p {
	color: #41494b ; 

}
#Slogan {
	font-family: 'Playfair Display SC', serif;
	font-style: italic;
}