* { margin:0; padding:0; box-sizing:border-box; }
body {
}
section#splash {
    background-image:url(../images/Hands.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background:95vh;
}
